/*----------------------Floating Input--------------------------*/
#float-label {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    position: relative;

  }
  
  #float-label input {
    width: 100%;
    height: 56px;
    padding: 1rem 1rem 0 0.8rem;
    outline: 0;
    border: 1px solid #898989;
    border-radius: 4px;
    background: #fff;
    font-size: 1rem;
    margin: 0.25rem;
    
  }
  
  #float-label label {
    font-size: 1rem;
    padding: 0 1.4rem;
    color: #898989;
    position: absolute;
    transform: translate(0, 1rem) scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-out;
    pointer-events: none;

  }

  #float-label .Active {
    transform: translate(0, 0.5rem) scale(0.75);
   
  }

  #float-label:focus-within input {
    border-color:#128fdc;
   
  }
  
  #float-label:focus-within label {
    transform: translate(0, 0.5rem) scale(0.75);
    color:#128fdc;

  }

  /*----------------------Error Msg--------------------------*/

  #float-label:focus-within .error-label {
    transform: translate(0, 0.5rem) scale(0.75);
    color:#e2292b ;

  }

  #float-label:focus-within .error-input {
    border-color:#e2292b;
  }

  
  #float-label .error-input {
    border-color:#e2292b ;
   }

   #float-label .error-label {
    color:#e2292b ;
   }
  
  .error-msg {
    color:#e2292b;
    font-size: 0.75rem;
    padding: 0rem 1.2rem;

  }

/*------------------Sliding Animation--------------------------*/
.slide-enter {
  height:0px;
}

.slide-enter.slide-enter-active {
  -webkit-transition: height 0.3s linear;
  -moz-transition: height 0.3s linear;  
  -o-transition: height 0.3s linear;  
  -ms-transition: height 0.3s linear;  
  transition: height 0.3s linear;
  height: 1.4rem;
  
}

.slide-enter-done {
  height: 1.4rem;
}

.slide-exit {
  height: 1.4rem;
  
}
.slide-exit.slide-exit-active {
  -webkit-transition: height 0.3s linear  0.8s;
  -moz-transition: height 0.3s linear  0.8s;  
  -o-transition: height 0.3s linear  0.8s;  
  -ms-transition: height 0.3s linear  0.8s;  
  transition: height 0.3s linear  0.8s;
  height: 0px;
  
}

.slide-exit-done {
  height:0px;
}

@media (max-width: 420px) {
  #float-label {
     width:100%;
     min-width: 100px;
  }
}