.landing-carousel{
    font-family: 'Proxima Nova Lt',helvetica neue,helvetica,arial,sans-serif;
    text-align: center;
}
.landing-carousel-heading1{
    text-align: center;
    margin: .67em 0;
    margin-bottom: 5px;
    -webkit-font-smoothing: antialiased;
    font-size: 56px;
    line-height: 56px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.landing-carousel-heading3{
    text-align: center;
    color: #fff;
    margin: 1em 0;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 50px;
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sign-up-free{
    position: absolute;
    top: 68%;
    left: 42%;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    font-weight: 800;
}
#LandingImg{
    background-image: url('https://combo.staticflickr.com/ap/build/images/sohp/2020-top-25/Happy_Birthday_Adam_Iwona_Podlasinska.jpg');
    height: calc(100vh - 50px);
    background-position: bottom;
    background-size: cover;
}
@media (max-width: 768px) {
    .landing-carousel-heading3{
        display: none;
    }
    .landing-carousel-heading1{
        font-size: 36px;
        line-height: 2.2rem;
    }
    .sign-up-free{
        position: absolute;
        top: 50%;
        left: 40%;
        right: 60%;
        -webkit-box-direction: normal;
        box-sizing: border-box;
        display: inline-block;
        padding: 0 20px;
        vertical-align: top;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        color: #000;
        background-color: #fff;
        height: 64px;
        width: 177px;
        line-height: 64px;
        font-size: 24px;
        font-weight: 800;
    }
}
@media (max-width: 610px) {
    .sign-up-free{
        position: absolute;
        top: 50%;
        left: 25%;
    }
}
@media (max-width: 600px) {
    .sign-up-free{
        position: absolute;
        top: 50%;
        left: 33%;
    }
}