#lock-icon {
    color: #898989;
    font-size: 1.5rem;
}

#change-password-p #back-btn {
    transition: background-color .3s ease-in-out;
}

#change-password-p #back-btn:hover {
    background-color: #e7e7e7;
}

#change-password-p #back-btn:active {
    background-color: #e3e3e3;
}

#back-btn-icon {
    color: #898989 !important;
}

#change-password-p {
    height: calc(100vh - 50px);
    background-color: #f3f5f6;
}

#change-password-p a,
#change-password-p a:hover {
    text-decoration: none;
    color: #006dac;
}

#row-ch-pass {
    width: 350px !important;
}

#change-password-p .fadeOut,
#change-password-p .animated,
#change-password-p .fadeIn {
    -webkit-animation-name: none;
    animation-name: none;
    animation-fill-mode: none;
    -webkit-animation-fill-mode: none;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    display: block !important;
}

#submit-change-password {
    background-color: #128fdc;
    border-color: #128fdc;
    width: 100%;
}

#submit-change-password:hover {
    box-shadow: inset 0 0 0.5rem rgb(0 0 0 / 25%);
    filter: brightness(95%);
}

#change-password-p #float-label {
    min-width: auto;
}

#change-password-p #float-label .password-tests .right-test {
    float: right;
    margin-left: 0;
    text-align: right;
}