
.bg {
   background-image: url('../../images/SignUp-LoginBG.jpg');
   height: 100vh;
   background-position: bottom;
   background-size: cover;
}

form {
   
   background-color: white;
   position: absolute;
   top: 20%;
   left: 20%;
   padding: 30px;
  
}