.AlbumsPage .Album {
  width: 240px;
  height: 240px;
  margin-right: 20px;
}

.AlbumsPage .Album .album-details {
  padding: 15px;
  color: #fff;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.03) 8%,
    rgba(0, 0, 0, 0.11) 21%,
    rgba(0, 0, 0, 0.61) 78%,
    rgba(0, 0, 0, 0.7) 95%,
    rgba(0, 0, 0, 0.7)
  );
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.5;
}

.AlbumsPage .Album .album-details:hover {
  cursor: pointer;
}

.AlbumsPage .Album .album-details p {
  margin-bottom: 0;
  padding-top: 0;
}

.AlbumsPage .Album .album-details .delete-album {
  transform: translateY(1200px);
  display: none;
  margin-top: 5px;
  text-align: center;
  width: 20%;
  height: 15%;
  padding-top: 4px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  align-self: flex-end;
  transition: all 1s ease;
}

.AlbumsPage .Album .album-details:hover .delete-album {
  transform: translateY(0);
  display: block;
}
