.AlbumsPage .Albums {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  height: 40%;
}
.AlbumsPage .Albums .new-album {
  align-self: flex-end;
}
.AlbumsPage .Albums .new-album a {
  background-color: #008ddf;
  padding: 10px 15px 12px 10px;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 10px;
}
.AlbumsPage .Albums .new-album a:hover {
  cursor: pointer;
  background-color: #448ddf;
}
.AlbumsPage .Albums .new-album p,
.AlbumsPage .Albums svg {
  font-size: 16px;
  margin-right: 0;
}

.AlbumsPage .Albums svg {
  height: 50%;
  color: lightslategray;
}

.AlbumsPage .Albums .albums {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

@media (max-width: 1200px) and (min-width: 1001px) {
  .AlbumsPage .Albums .albums {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1000px) and (min-width: 320px) {
  .AlbumsPage .Albums .albums {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
